.nav {
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: #F6AE2D;
	z-index: 1;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-link{
	text-decoration: none;
	color: white;
	background-color: #F6AE2D;
}

.nav-link:hover{
	background-color: #DEA233;
	color: black;
}

.box-nav-right{
	display: flex
	;
}

body {
	background-color: #0d171d31;
}

.header h2 {
	color: #f7efd2;
}

.header p {
	color: #50524F;
}

.results {
	margin-top: 20px;
}

.headings{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.col-4{
	margin-top: 10px;
	margin-bottom: 40px;
}

.movie-title{
	margin-top: 2%;
	color: white;
	padding: 8px;
	height: 45px;
	font-size:medium;
	font-weight:400;
}

.movie-release{
	color: white;
	background-color: #DEA233;
	padding: 3px;
	margin-bottom: 0;
	font-size: 100%;
}

.search{
	padding-bottom: 30px;
}

.header, .search{
	width: 100%;
	background-color: #F6AE2D;
}

.movie{
	display: flex;
	flex-direction: column;
	background-color: #F6AE2D;
	padding: 0;
}

.movie:hover {
	transform: scale(1.1);
	box-shadow: 8px 10px 20px black;
}

.display-2:hover {
	color: #F26419;
	text-shadow: 7px 5px 10px whitesmoke;
}

.btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.btn span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.btn:hover span {
	padding-right: 25px;
}

.btn:hover span:after {
	opacity: 1;
	right: 0;
}